<?xml version="1.0"?>
<!--
/**
 * Copyright © 2011-2017 Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * 
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
	<!--
	plugin for a class Magento\Directory\Model\Currency
	-->		
    <type name="Magento\Directory\Model\Currency">
		<plugin name="Faonni_Price" type="Faonni\Price\Model\Plugin\Currency" />
    </type>  	
</config>
