<?xml version="1.0"?>
<!--
/**
 * Copyright © Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- plugin -->
    <type name="Magento\Directory\Model\Currency">
        <plugin name="Faonni_Price" type="Faonni\Price\Plugin\Directory\Model\Currency"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Type\Price">
        <plugin name="Faonni_Price" type="Faonni\Price\Plugin\Catalog\Model\Product\Type\PricePlugin"/>
    </type>
</config>
